<!doctype html>
<html>
	<head>
		<title>Backbone XMLEditor</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
    </head>
	<body>
        <form class="form-horizontal">
    		<div id="wrapper">
    			
    		</div>
            <div id="json-receiver"></div>
            <button id="getJSON">Get JSON</button>
        </form>
        <a href="https://github.com/guillaume-girard/xml-editor"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>



		<script type="text/template" id="tag-template">
            <legend>
                &lt;<%- xmlName %>&gt;
                <% if(deletable) { %>
                    <span class="delete-button" title="Supprimer cette balise <%- xmlName %>"><i class="fa fa-times"></i></span>
                <% } %>
            </legend>
            <div class="tag-content">
                <% if(typeof text !== "undefined") { %>
                    <div class="control-group">
                        <label class="control-label">Text</label>
                        <div class="controls">
                            <textarea class="input-large text-container"><%- text %></textarea>
                        </div>
                    </div>
                <% } %>
            </div>
            <legend>&lt;/<%- xmlName %>&gt;</legend>
		</script>

        <script type="text/template" id="tagGroup-template">
            <fieldset>
                <div class="tagGroup-content"></div>
                <% if(addable) { %>
                   <div class="btn btn-success add-button" title="Ajouter une balise <%- xmlName %>"><i class="fa fa-plus"></i></div>
                <% } %>
            </fieldset>
        </script>

		<script type="text/template" id="attr-template">
            <% if(!required && typeof value !== 'undefined') { %>
                <div class="delete-button" title="Supprimer l'attribut <%- xmlName %>"><i class="fa fa-times"></i></div>
            <% } %>
            <div class="control-group">
                <% if(typeof value !== 'undefined') { %>
                    <label class="control-label"><%- xmlName %></label>
                    <div class="controls">
                        <% switch (type) {
                            case "input": %>
                                <input class="input-large value-container" type="text" value="<%- value %>" <% if (required) { %> required="required" <% } %>/>
                                <% break;
                            case "checkbox":
                            case "boolean": %>
                                <input class="value-container" type="checkbox" <% if(value || defaultvalue) { %> checked="checked" <% } %> />
                                <% break;
                            case "textarea": %>
                                <textarea class="input-large value-container" <% if (required) { %> required="required" <% } %>><%- value %></textarea>
                                <% break;
                            case "select": %>
                                <select class="input-large value-container">
                                    <% possibleValues.forEach(function(val) { %>
                                        <option value="<%- val %>" <% value = value === null ? "": value; if (value == val || (value.length == 0 && defaultvalue != null && val == defaultvalue)) { %> selected="selected" <% } %>><%- val %></option>
                                    <% }); %>
                                </select>
                                <% break;
                        } %>
                    </div>
                    <% } else { %>
                        <div class="btn btn-warning add-button">Ajouter <%- xmlName %></div>
                    <% } %>
            </div>
		</script>

        <script type="text/template" id="attrCollection-template">
        </script>

        <script type="text/javascript" src="../cfg/config.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="../libs/underscore.js"></script>
		<script type="text/javascript" src="../libs/backbone.js"></script>
        <script type="text/javascript" src="../models/AttributeModel.js"></script>
        <script type="text/javascript" src="../views/AttributeView.js"></script>
        <script type="text/javascript" src="../collections/AttributeCollection.js"></script>
        <script type="text/javascript" src="../views/AttributeCollectionView.js"></script>
        <script type="text/javascript" src="../models/TagModel.js"></script>
        <script type="text/javascript" src="../views/TagView.js"></script>
        <script type="text/javascript" src="../collections/TagCollection.js"></script>
        <script type="text/javascript" src="../models/TagGroup.js"></script>
        <script type="text/javascript" src="../views/TagGroupView.js"></script>
        <script type="text/javascript">
            var library = new XMLEditor.TagModel({config: XMLEditor.Config, data: {}}, {parse: true});
            (new XMLEditor.TagView({el: "#wrapper", model: library})).render('library', false);

            $("#getJSON").click(function(evt) {
                evt.preventDefault()
                $("#json-receiver").text(JSON.stringify(library.getJSON()));
            });
        </script>
	</body>
</html>